name: Preview Deploy to Firebase Hosting on push to main
'on':
  push:
    branches:
      - main
jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm ci && npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_INTERN_PRO_APP }}'
          projectId: intern-pro-app
          # By NOT specifying 'channelId: live', it defaults to a preview channel
          # expiresIn: 7d # Optional: how long the preview URL lasts
